{% extends "tracker/base.html" %}

{% block content %}
<h2>Dashboard</h2>

{% if expenses %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Category</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.title }}</td>
                <td>${{ expense.amount }}</td>
                <td>{{ expense.date }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No expenses added yet.</p>
{% endif %}
{% endblock %}